*.txt linguist-vendored
*.sh linguist-vendored
*.py linguist-vendored
*.sh linguist-vendored
Dockerfile linguist-vendored
Dockerfile.base linguist-vendored
Makefile linguist-vendored
*.txt linguist-vendored
